        body{
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }


        h1{
            font-size: 50px;;
        }

        .orange-highlighte{
            color: orange;
        }

        .half-width{
            width: 40%;
            float: left;
            margin-left: 5%;
            padding-left: 2%;
        }

        .half-width img{
            width: 100%;
        }

        .header-part{
            background-image: url(images/top-banner.png);
            background-repeat: no-repeat;

        }

        section{
            height: 500px;
            padding-bottom: 50px;
        }

        .link-btn{
            text-decoration: none;
            background-image: linear-gradient(45deg, lightSalmon, tomato);
            padding: 10px 20px;
            border-radius: 5px;
            color: wheat;
            font-weight: 700;

        }

        h2{
            font-size: 40px;
        }

        p{
            color: dimgray;
        }

        .dream-area{
            background-image: url(images/dream-bg.png);
            background-repeat: no-repeat;
            background-position: right;

        }

        .single-exprience{
            box-shadow: 10px 10px 30px gray;
            border-radius: 5px;
            height: 60%;
            background-color: white;
        }

        .exprienes-area{
            background-image: url(images/exp-bg.png);
            background-repeat: no-repeat;
            background-position: left;
        }

        #bdr-first-clr{
            border-left: 7px solid;
            border-image: linear-gradient(180deg, lightSalmon, tomato);
            border-image-slice: 1;
        }

        #bdr-second-clr{
            border-left: 7px solid;
            border-image: linear-gradient(180deg, blue, cyan);
            border-image-slice: 1;
        }

        footer p{
            text-align: center;
        }